body {
    width: 20rem;
    border-radius: 10%;
    background-color: var(--bg);
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, var(--bg) 20%, var(--bg) 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, var(--bg) 20%, var(--bg) 80%, transparent 80%, transparent) 10px 10px, linear-gradient(var(--bgv) 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, var(--bgv) 0.8px, var(--bg) 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
    color: var(--fg);
    transition: all 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    /* height: 70vh; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.valign {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    top: 0;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    width: 20rem;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textButton {
    box-sizing: border-box;
    font-weight: 900;
    font-size: 1em;
    transition: all 0.2s;
}

.navSvgBtn {
    height: 23px;
    width: 23px;
    margin-right: 12px;
    margin-left: 12px;
    filter: var(--svgn);
    transition: all 0.2s;
}

.navSvgBtn:hover {
    filter: var(--svgh);
}

.navSvgBtn:active {
    filter: var(--svgn);
}

.spanButton {
    color: var(--fgv);
    transition: all 0.1s;
    cursor: pointer;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
}

.spanButton:hover {
    color: var(--fg);
    text-shadow: 0px 0px 5px70 var(--fg);
}

.spanButton:active {
    transform: scale(0.9);
}
h1,
h4 {
    font-weight: bold;
    text-align: center;

    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h1 {
    margin-top: 0.5em;
}


h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

h6 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    text-align: center;
}

h1 {
    text-shadow: 0px 0px 5px var(--fg);
}

main {
    width: 100%;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100%;
}

.bottomLink {
    font-size: x-small;
    color: var(--fgv);
    width: 100%;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    box-sizing: border-box;
    margin: 8px;
}

.bottomLink:visited {
    color: var(--fgv);
}

.bottomLink:hover {
    color: var(--fg);
    text-decoration: underline;
}

.bottomLink:active {
    color: var(--fgv);
    text-decoration: underline;
}

/* ----------- SCROLLBAR ----------- */

::-webkit-scrollbar {
    width: 8px;
    background: #00000000;
}

::-webkit-scrollbar:hover {
    width: 14px;
    background: #00000000;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #00000000;
    border: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 1px solid transparent;
    background-clip: content-box;
    background-color: var(--fgv);
    transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    width: 14px;
    border-radius: 4px;
    background-color: var(--fg);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--fgv);
}